body {
  margin: 0;
  padding-right: 1rem;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(97, 86, 227, 0.25);
  color: #000;
  overflow-y: scroll;
}

.container {
  display: block;
  width: 100%;
  padding: 0;
}

.main {
  padding: 0;
  margin-bottom: 1rem;
  overflow: hidden; 
}

.sidebar {
  padding: 1rem;
  padding-right: 0rem;
  display: none; /* Hidden by default for mobile-first approach */
}

/* Media query for tablets and small desktops (min-width: 600px) */
@media (min-width: 600px) {
  .container {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 1rem;
  }
}

/* Media query for larger desktops (min-width: 900px) */
@media (min-width: 900px) {
  .container {
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: 0rem;
      max-width: 1200px;
  }

  .main {
      margin-bottom: 0;
  }

  .sidebar {
      display: block; /* Show sidebar for larger screens */
  }
}


h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px;
}

body.dark-mode,
body.dark-mode .main,
body.dark-mode .sidebar {
  background-color: #121212;
}
body.dark-mode h2,
body.dark-mode h4,
body.dark-mode p {
  color: #e0e0e0;
}
body.dark-mode span {
  color: #fff;
}
a {
  color: #c7d2fe;
}
a:hover {
  color: #d0e1fd;
}
h4 {
  margin-top: 4px;
}
pre {
  margin-top: 0.5rem;
  margin-bottom: 0;
}


/* WebKit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
  width: 16px;
}
body.dark-mode ::-webkit-scrollbar {
  width: 16px;
}
body::-webkit-scrollbar-track {
  background: #f1f1f1;
  cursor: default;
}
body.dark-mode ::-webkit-scrollbar-track {
  background: #444;
  cursor: default;
}
body::-webkit-scrollbar-thumb {
  background: #c8c8c8;
}
body.dark-mode ::-webkit-scrollbar-thumb {
  background: #666;
}
body::-webkit-scrollbar-thumb:hover {
  background: #bababa;
  cursor: default;
}
body.dark-mode ::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: default;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  background-color: #f1f1f1;
  height: 24px;
  width: 12px;
  display: block;
  background-size: contain;
  border-bottom-right-radius: 5px;
  background-repeat: no-repeat; /* Prevent repeating of the SVG */
  background-position: center; 
}
::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  cursor: default;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-color: #f1f1f1;
  height: 24px;
  width: 12px;
  display: block;
  background-size: contain;
  border-top-right-radius: 5px;
  background-repeat: no-repeat; /* Prevent repeating of the SVG */
  background-position: center; 
}
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  cursor: default;
}

.dark-mode ::-webkit-scrollbar-button:single-button:vertical:increment {
  background-color: #393939;
  height: 24px;
  width: 12px;
  display: block;
  background-size: contain;
  border-bottom-right-radius: 5px;
  background-repeat: no-repeat; /* Prevent repeating of the SVG */
  background-position: center; 
}
.dark-mode ::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  cursor: default;
}

.dark-mode ::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-color: #393939;
  height: 24px;
  width: 12px;
  display: block;
  background-size: contain;
  border-top-right-radius: 5px;
  background-repeat: no-repeat; /* Prevent repeating of the SVG */
  background-position: center; 
}
.dark-mode ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  cursor: default;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-position: 2px center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='%23444444'%3E%3Cpath d='M6 0 L12 6 L0 6 Z'/%3E%3C/svg%3E");
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  background-position: 2px center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='%23444444'%3E%3Cpath d='M6 12 L0 6 L12 6 Z'/%3E%3C/svg%3E");
}

.dark-mode ::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-position: 2px center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='%23aaaaaa'%3E%3Cpath d='M6 0 L12 6 L0 6 Z'/%3E%3C/svg%3E");
}

.dark-mode ::-webkit-scrollbar-button:single-button:vertical:increment {
  background-position: 2px center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='%23aaaaaa  '%3E%3Cpath d='M6 12 L0 6 L12 6 Z'/%3E%3C/svg%3E");
}

/* Firefox scrollbar styles */
body {
  scrollbar-width: thin;
  scrollbar-color: #f1f1f1;
}

/* Fallback for browsers not supporting custom scrollbars */
body::-webkit-scrollbar {
  display: none;
}

.p-dialog {
  width: 95vw;
  height: 100vh;
  max-width: 880px;
  margin: auto;
}
.p-dialog .p-component{
  overflow: visible;
}
.dark-mode .p-dialog .p-component{
  overflow: visible;
}

@media (min-width: 900px) {
  .p-dialog {
    width: 90vw;
  }
}

.note-content {
  white-space: pre-line;
}

.accordion-item {
  margin-left: 15px;
  width: 96%; 
}

span.notes-header-link {
  margin-left: 12px;
  width: 20px;
  color: white;
  opacity: 0.2;
  position: relative;
  top: 2px;
}
span.notes-header-link:hover {
  opacity: 1;
}

.notes-header-edit {
  color: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
}
.notes-header-edit:hover {
  opacity: 1;
  cursor: pointer;
}

.notes-header-delete {
  background-color: red;
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  background-size: 20px 20px;
  height: 26px;
  width: 26px;
  opacity: 0.2;
  margin-left: 10px;
}
.notes-header-delete:hover {
  opacity: 1;
  cursor: pointer;
}

.notes-accordion-button {

  align-items: center;
}

.notes-accordion-button a {
  margin-left: auto;
}

.notes-accordion-button {
  display: flex;
  background-color: #6156e3;
  margin-bottom: 1px;
  padding: 3px;
  padding-left: 3px;
  font-size: 0.9rem;
  white-space: nowrap;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.scroll-to-top {
  width: 40px;
  height: 40px;
  border: 0px;
  border-radius: 50%;
  opacity: 0.66;
}
.scroll-to-top:hover {
  opacity: 1;
}

.accordion-button {
  background-color: #6156e3;
  color: white;
  border: 0px;
  width: 100%;
}

.notes-menu-accordion-body {
  background-color: rgba(97, 86, 227, 0.80);
  color: white;
  padding-top: 8px;
  padding: 12px;
  padding-right: 10px;
  padding-bottom: 16px;
  font-size: 0.9rem;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.notes-menu-accordion-body:hover {
  background-color: rgba(97, 86, 227, 0.76);
}

.badge {
  color: white;
  border-radius: 50rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin-right: 7px;
  padding-left: 0.65em;
  padding-right: 0.65em;
  padding-top: 0.35em;
  padding-bottom: 0.35em;
  font-size: 0.9em; 
}

.badge.bg-light {
  background-color: rgba(79, 70, 229, 0.5);
  line-height: 2.6;
}

.badge.bg-light:hover {
  border: 2px solid rgba(255, 255, 255, 1);
  cursor: pointer;
}
.badge.bg-light.rounded-pill.disabled:hover{
  border: 2px solid rgba(255, 255, 255, 0.5) !important;
  cursor: default;
}

.p-dialog-header {
  padding-top: 1.25rem;
  padding-bottom: 0.33rem;
  border-top-right-radius: 0px;
}
.p-dialog-content {
  padding-bottom: 1.33rem;
  border-bottom-right-radius: 0px;
  
  overflow-y: visible;
}
textarea {
  resize: both;
  width: 100%;
  box-sizing: border-box;
} 
textarea::-webkit-resizer {
  border: 1px solid #666;
  background-color: #fff; 
  border-width: 8px;
  border-style: solid;
  border-color: transparent #c7d2fe #c7d2fe transparent;
}
body.dark-mode textarea::-webkit-resizer {
  border: 1px solid white;
  background-color: #222;
  border-width: 8px;
  border-style: solid;
  border-color: transparent #c7d2fe #c7d2fe transparent;
}
.dark-mode .p-dialog-header,
.dark-mode .notes-header-edit,
.dark-mode .p-dialog-content {
  color: #e0e0e0;
  background-color: #2B2B2B;
}
.dark-mode .p-dialog-content {
  padding-bottom: 1.33rem;
  overflow-y: visible;
}
.dark-mode .accordion-button,
.dark-mode .notes-accordion-button {
  background-color: #2B2B2B;
}

.dark-mode .notes-menu-accordion-body,  
.dark-mode .badge,
.dark-mode .badge.bg-light {
  background-color: #222;
  color: #e0e0e0;
}
.dark-mode .notes-header-edit:hover,
.dark-mode .notes-menu-accordion-body:hover {
  background-color: #272727;
}
.dark-mode .badge.bg-light.rounded-pill {
  background-color: #2B2B2B;
  color: #e0e0e0;
  border-color: #555; 
}
.dark-mode .badge.bg-light.rounded-pill:hover{
  border-color: #c7d2fe;
}
.dark-mode .badge.bg-light.rounded-pill.disabled:hover{
  border: 2px solid #555 !important;
  cursor: default;
}
.dark-mode .notes-header-delete {
  background-color: gray;
  opacity: 0.3;
}
.dark-mode .notes-header-delete:hover {
  opacity: 1;
}
.dark-mode .notes-header-edit:hover,
.dark-mode .badge.bg-light:hover {
  border-color: #fff;
}
.p-chips .p-chips-multiple-container {
  background-color: white;
  padding: 0.25rem 0.75rem;
}
.p-chips-input-token input
{
  font-size: 0.86rem;
}
.p-chips-token
{
  font-size: 0.9rem;
  margin-top: 2px;
  padding: 0.25rem 0.75rem;
  margin-bottom: 2px;
}
.dark-mode .p-inputtext-sm,
.dark-mode .p-chips .p-chips-multiple-container,
.dark-mode .p-chips-multiple-container
{
  color: #E0E0E0;
  border-color: #999;
  background-color: #222;
}
.dark-mode .p-chips .p-chips-multiple-container {
  padding: 0.25rem 0.75rem;
}
.dark-mode .p-inputtext-sm:hover,
.dark-mode .p-chips .p-chips-multiple-container:hover,
.dark-mode .p-chips-multiple-container:hover
{
  border-color: white;
  background-color: #222;
}
.dark-mode .p-chips-input-token input
{
  color: #E0E0E0;
  font-size: 0.86rem;
}
.dark-mode .p-chips-token
{
  background-color: #bbb;
  padding: 0.25rem 0.75rem;
}
.dark-mode .p-chips-token-label
{
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home {
  position: relative;
  top: 1px;
  color: white;
}
.home:hover {
  cursor: pointer;
}

header h2{
  flex: 1;
  text-align: center;
  margin: 0;
}

label.theme-switch {
  margin-right: 23px;

}
.theme-switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6156e3;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #666;
}

input:checked + .slider:before {
  transform: translateX(14px);
} 

.home {
  transform: scale(1.5);
  border: 0px;
  color: black;
  background-color: transparent;
  margin-left: 12px;
  position: relative;
  top: 2px;
}
.home:disabled {
  cursor: default;
}

.dark-mode .home {
  color: white;
}

.p-togglebutton .p-button {
  color: black !important;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #6366f1;
}

.p-togglebutton.p-highlight .p-button .p-button-icon-left {
  color: black;
}
.dark-mode .p-togglebutton.p-highlight .p-button .p-button-icon-left {
  color: white;
}

.p-button.p-component {
  padding: 0.66rem 1.25rem;
}

.p-button.p-component.p-button-outlined {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #6366f1;
  padding: 0.66rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
}

.p-button.p-component.p-button-outlined:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.p-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.5);  
}

body.dark-mode .p-button {
  background-color: #111;
  border: 1px solid #999999;
}

body.dark-mode .p-button:hover {
  background-color: #222;
  border-color: #999999;
}

body.dark-mode .p-button.p-component.p-button-outlined {
  background-color: #333;
  border: 1px solid #999999;
}

body.dark-mode .p-button.p-component.p-button-outlined:hover {
  background-color: #444;
  border-color: #999999;
}

body.dark-mode .p-button:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.footer-link {
  color: black;
  text-decoration: underline;
}

.images {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.dark-mode .images {
  border: 2px solid #555;
}

.sui-search-box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: stretch;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  margin-bottom: 1rem;
  margin-left: 1.33rem;
  left: -36px;
}

.searchlabel {
  width: 100%;
  position: relative;
}

.searchlabel:before {
  content: '';
  position: relative;
  z-index: 1;
  left: 36px;
  margin-right: 0.3rem;
  width: 1.5rem;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E")
    center / contain no-repeat;
}
.dark-mode .searchlabel:before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgba(255, 255, 255, 0.5)' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E")
  center / contain no-repeat;
}

.sui-search-box__submit {
  flex-shrink: 0;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 12px;
  text-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px;
  color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset, rgba(59, 69, 79, 0.05) 0px 1px 0px;
  background: #6c757d;
  cursor: pointer;
  border-radius: 4px;
  display: none;
}
.sui-search-box__submit:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 1px inset, rgba(59, 69, 79, 0.3) 0px 2px 4px;
  background: #565e64;
}
.live-filtering .sui-search-box__submit {
  display: none;
}
.sui-search-box__wrapper {
  width: 100%;

}
.sui-search-box__text-input {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5); 
  padding: 9px;
  padding-left: 38px;
  outline: none;
  position: relative;
  font-family: inherit;
  font-size: 16px;
  width: 99.5%;
}
.dark-mode .sui-search-box__text-input {
  color: white;
  background: rgba(59, 69, 79, 0.3) ;
  border: 1px solid rgba(255, 255, 255, 0.5); 
}
.sui-search-box__text-input:focus {
  box-shadow: rgba(59, 69, 79, 0.3) 0px 2px 4px;
  border-top: 1px solid #3a56e4;
  border-left: 1px solid #3a56e4;
  border-right: 1px solid #3a56e4;
  border-bottom: 1px solid #3a56e4;
}
.dark-mode .sui-search-box__text-input:focus {
  border: 1px solid white; 
}
.autocomplete .sui-search-box__text-input {
  box-shadow: rgba(59, 69, 79, 0.3) 0px 2px 4px;
}
.sui-search-box__autocomplete-container {
  display: none;
  flex-direction: column;
  left: 0;
  right: 0;
  top: 110%;
  margin: 0;
  padding: 24px 0 12px 0;
  line-height: 1.5;
  background: white;
  position: absolute;
  box-shadow: rgba(59, 69, 79, 0.3) 0px 2px 4px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.autocomplete .sui-search-box__autocomplete-container {
  display: flex;
  z-index: 1;
}
.sui-search-box__autocomplete-container ul {
  list-style: none;
  margin: 0;
  padding: 0 0 24px 0;
  background: transparent;
  border-radius: 3px;
}
.sui-search-box__autocomplete-container ul:last-child {
  padding: 0;
}
.sui-search-box__autocomplete-container li {
  margin: 0 12px;
  font-size: 0.9em;
  padding: 4px 12px;
  border-radius: 4px;
  color: #555;
  cursor: default;
}
.sui-search-box__autocomplete-container li em {
  font-style: normal;
  color: #3a56e4;
  background: #edf0fd;
}
.sui-search-box__autocomplete-container li:hover {
  background: #3a56e4;
  color: #ffffff;
}
.sui-search-box__autocomplete-container li:hover em {
  background: transparent;
  color: #ffffff;
}
.sui-search-box__autocomplete-container li[aria-selected='true'] {
  background: #3a56e4;
  color: #ffffff;
}
.sui-search-box__autocomplete-container li[aria-selected='true'] em {
  background: transparent;
  color: #ffffff;
}
.sui-search-box__section-title {
  color: #888;
  font-size: 0.7em;
  letter-spacing: 1px;
  font-weight: normal;
  padding: 0 0 4px 24px;
  text-transform: uppercase;
}

[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  background-color: red;
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  background-size: 20px 20px;
  height: 32px;
  width: 32px;
}

.show-cancel-button::-webkit-search-cancel-button {
  -webkit-appearance: none;
  background-color: red;
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  background-size: 20px 20px;
  height: 32px;
  width: 32px;
} 

.related-tags {
  font-size: 0.9em; 
  border: 1px solid #6366f1;
  border-radius: 12px;
  padding-left: 0.66rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  width: 100%;
}
.dark-mode .related-tags {
  border: 1px solid #666;
}

.related-tags-label {
  color:#6366f1;
  font-size: 0.8rem;
  position: relative;
  top: 12px;
}
.dark-mode .related-tags-label {
  color: #666;
}

div.drop-zone {
  margin-bottom: 10px;
}
.drop-zone label{
  font-size: 0.85rem; 
  color: #777;
  text-align: center;
  cursor: pointer;    
  width: 99%;
  height: 0vh;
  margin-left: 5px;
}
.drop-zone label:hover {
  color: #4b5563;
}
.dark-mode .drop-zone label:hover {
  color: #D0D0D0;
}
.dark-mode .drop-zone label {
  color: #AAA;
  cursor: pointer;
  position: relative;
  top: -1px;
}
.drop-zone .cloud-upload-icon {
  font-size: 0.75rem;
  color: #AAA;
  position: relative;
  top: 1px;
  padding-right: 2px; 
}
.drop-zone .cloud-upload-icon:hover {
  color: #D0D0D0;
}

.custom-textarea {
  position: relative;
}

.preview {
  min-height: 75px;
  border: 1px solid #d1d5db;
  width: 99%;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px;
}
.preview:hover {
  border-color: #6366f1;
}
.dark-mode .preview {
  border: 1px solid #999;
}
.dark-mode .preview:hover {
  border-color: #fff;
}
.preview:empty {
  display: none;
}

.preview img {
  display: inline-block;
  vertical-align: middle;
  max-height: 75px;
  margin-right: 5px;
  margin-bottom: 5px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: transparent;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  bottom: 20%; /* tooltip above the thumbs */
  left: -10px;
  margin-left: 15px;
  opacity: 0;
  width: auto;
  height: auto;
}

/* Show the tooltip on hover */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Larger image in tooltip */
.tooltiptext img {
  position: relative;
  z-index: 3;
  max-height: none;
  max-width: none;
  width: auto;
  height: auto;
  border-radius: 6px;
  display: block; 
}

.code-block {
  overflow-x: auto;
  font-size: 0.85rem;

  background: rgba(97, 86, 227, 0.9);
  padding: 0.25rem;
  margin-right: 2px;
  border-radius: 5px;
}
.dark-mode .code-block {
  background: #333;
}

div.p-togglebutton.p-component {
  margin-left: 2.5%;
  width: 5%;
}

.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin-left: 3px;
  margin-bottom: 1.25rem;
  width: 98.5%;
  border-radius: 50px;
}

.dark-mode .custom-navbar {
  background-color: #222;
}

.custom-navbar-item {
  margin-left: 3px;
  margin-right: 3px;
  width: 23%;
  height: 2.5rem;  
  border: 0px;
  opacity: 0.8;
}

.custom-navbar-item:hover {
  opacity: 1;
}

span.p-button-label.p-c {
  font-size: 0.55rem;
}
@media (min-width: 660px) and (max-width: 899px) {
  span.p-button-label.p-c {
    font-size: 0.75rem;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  span.p-button-label.p-c {
    font-size: 0.85rem;
  }
}
@media (min-width: 1200px) {
  span.p-button-label.p-c {
    font-size: 1.125rem;
  }
}

.showmore {
  height: 44px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  background: linear-gradient(transparent, rgba(97, 86, 227, 1));
  padding: 10px 0;
}
.showmore::before {
  content: '';
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
}
.showmore:hover::before {
  opacity: 1;
}
body.dark-mode .showmore {
  background: linear-gradient(transparent, #121212);
  opacity: 0.95;
}
.dark-mode .showmore:hover::before {
  opacity: 0.1;
  background-color: rgba(255, 255, 255, 1);
}

.showless {
  position: relative;
  bottom: -10px;
  text-align: center;
}
.showless::before  {
  content: '';
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: -23px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
}
.showless:hover::before {
  opacity: 1;
}
body.dark-mode .showless {
  opacity: 0.95;
}
.dark-mode .showless:hover::before {
  opacity: 0.1;
  background-color: rgba(255, 255, 255, 1);
}

.toggle-all-notes {
  text-decoration: underline;
  font-size: 0.8rem;
  cursor: pointer;
  background-color: transparent;
  color: #6156e3;
}
.dark-mode .toggle-all-notes {
  color: #f1f1f1;
}